.container-main-button {
   margin-top: 10%;
   cursor: pointer;
   @include all-ease-custom(.3s);
   &:hover {
    @include all-ease-custom(.3s);
       .main-btn {
           top: -20px;
           @include all-ease-custom(.3s);
       }
   }

   @include breakpoint("small") {
        margin-top: 0%;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.main-btn {

        border: solid 4px gray;
        padding: 10px 30px;
        cursor: pointer;
        @include all-ease-custom(.3s);
        font-weight: bold;
        color: gray;
        margin-top: 5%;
        position: relative;
        z-index: 10;
        width: 200px;
        background-color: #fff;
        font-size: 18px;
        box-sizing: border-box;

        &__bg {
            width: 100px;
            height: 45px;
            border: 3px solid gray;
            position: relative;
            top: -34px;
            left: 10px;
            box-sizing: border-box;
            z-index: 1;
            width: 200px;
            display: flex;
            overflow: hidden;

            &__container-lines {
                width: 400px;
                position: absolute;
            }

            &__line {
                width: 4px;
                height: 100px;
                background-color: gray;
                transform: rotate(-45deg);
                margin-right: 7px;
                position: relative;
                float: left;
                top: -20px;
            }
            @include breakpoint("small") {
                height: 45px;
                border: 3px solid gray;
                position: relative;
                top: -34px;
                left: 100px;
                box-sizing: border-box;
                z-index: 1;
                width: 200px;
                display: flex;
                overflow: hidden;
            }
            
        }
  
}