
.home{

    &__landing {
        background-color: $primary;
        width: 100%;
        height: 100vh;
        display: flex;

        @include breakpoint ("small"){ 
            flex-direction: column;
        }

        &__mobile-text-scroll{
            text-align: center;
            color: #fff;
            font-weight: 400;
            font-size: 13px;
            letter-spacing: 2px;
            position: relative;
            bottom: 36px;
        }

        &__container-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100vh;

            @include breakpoint ("small"){ 
                width: 100%;
            }
            
            &__logo {
                z-index: 2;
            }
            svg {
                position: absolute;
                width: 40%;

                @include breakpoint ("small"){ 
                    width: 80%;
                }
                
            }
        }

        &__container-text {
            width: 50%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            @include breakpoint ("small"){ 
                display: none;
            }

            h1 {
                font-size: 90px;
                color: $complementary;
                font-style: italic;
                font-weight: 700;
                margin: 0;
                padding: 0;
            }

            h5 {
                color: $complementary;
                line-height: 37px;
                font-weight: 600;
                margin: 0;
                padding: 0 0 0 10px;
                letter-spacing: 3px;
                font-size: 20px;

                span {
                    color:$secoundary;
                }
            }
        }
    }
}