

.header {
     
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 300;
    overflow: hidden;
    @include all-ease-custom(.5s);

    a {
        text-decoration: none;
        color: inherit;
    }

    &__replace-logo {
        display: flex;
        padding-left: 60px;

        @include breakpoint("small"){
            padding-left: 20px;
        }

        h2 {
            font-weight: normal;
            font-size: 20px;
            margin-left: 20px;
        }
    }

    &__show {
        background-color: $complementary;
        -webkit-box-shadow: 0px 5px 16px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 5px 16px -2px rgba(0,0,0,0.1);
        box-shadow: 0px 5px 16px -2px rgba(0,0,0,0.1);
        height: 70px;

        @include breakpoint("small"){
            height: 70px;
        }
    }

    &__hide {
        background-color: transparent;
        height:0px;
    }

    &__logo {
        padding: 0px 10px 0px 60px;
        height: 60px;

        @include breakpoint("small"){
            width: 70px;
        }
    }

    &__btn-container {
        margin-right: 135px;
        height: auto;
        display: flex;
        justify-content: flex-end;
        @include breakpoint("small"){
     
        }
    }


}