.landing-module {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include breakpoint("small") {
        flex-direction: column;
    }

    &__left-container {
        width: 35%;
        height: calc(100vh - 120px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include breakpoint("small") {
            width: 100%;
        }

        h1 {
                position: relative;
                color: #00c691;
                width: 900px;
                z-index: 2;
                margin: 0;
                top: 195px;
                font-size: 93px;
                line-height: 75px;
                @include breakpoint("small") {
                    font-size: 43px;
                    line-height: 44px;
                    font-weight: bold;
                }
        }

        img {
            position: relative;
            left: 20px;

            @include breakpoint("small") {
                width: 100%;
            }
        }

        p {
            font-weight: 900;
            font-size: 20px;
            color: #00c691;
            line-height: 27px;
            margin-left: 20px;
        }

        &__bg {
            max-width: 528px;
            @include breakpoint("small") {
            padding: 35px;
            }
        }

        &__btn-container
        {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: normal;
            align-items: flex-start;
            margin: 10% 0;
       
        }
    }

    &__right-container {
        width: 65%;
        height: calc(100vh - 120px);
        display: flex;
        justify-content: center;
        align-items: baseline;
        overflow: hidden;
        @include breakpoint("small"){
            width: 100%;
        }
        img {
            width: 100%;
        }
    }

}