.banner {
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    header {
        height:90vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title-container {
        border: 10px solid;
        width: 50%;
        height: 50vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include breakpoint("small"){
            width: 80%;
            height: 35vh;
        }

        h1 {
            font-size: 6em;
            margin: 0;
            @include breakpoint("small"){
                font-size: 3em;
            }
        }


    }
    
  

   
}